


@font-face { font-family: Bavro; src: url('fonts/Bavro-Regular.ttf'); }
@font-face { font-family: Kungfont; src: url('fonts/Kungfont-Regular.otf'); }
@font-face { font-family: Brux; src: url('fonts/BRUX-Regular.otf'); } 
@font-face { font-family: Fox and Cat; src: url('fonts/Fox & Cat.otf'); } 


body {
  font-family: 'Karla', sans-serif;
  margin: 0px;
}

h1 {
  margin: 0;
}

.firstScreenContent {
  background-color: rgb(0,0,0);
  width: 100vw;
  height: 100vh;
}

.webTitles {
  color: rgb(255,255,255);
  font-size: 6vw;
  padding: 20px 20px;
}



.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* NAVBAR PUREBAS */

.containerNav {
  position: fixed;
  width: 100%;
}

#navbarList {
  margin: 10px auto 0 auto;
  width: 100vw;
}

#navbarList li {
  float: right; 
  list-style: none;
  margin: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
}

#navbarList a {
  text-decoration: none;
  color: rgb(255,255,255);
}

/* NAVBAR TERMINA */