


@font-face { font-family: Bavro; src: url('fonts/Bavro-Regular.ttf'); }
@font-face { font-family: Kungfont; src: url('fonts/Kungfont-Regular.otf'); }
@font-face { font-family: Brux; src: url('fonts/BRUX-Regular.otf'); } 
@font-face { font-family: Fox and Cat; src: url('fonts/Fox & Cat.otf'); } 


body {
  font-family: 'Karla', sans-serif;
  margin: 0px;
  background-color: #000;
  color: white;
}

h1 {
  margin: 0;
}

.firstScreenContent {
  background-color: rgb(0,0,0);
  width: 100vw;
  height: 100vh;
}

.maingPageBackgroundImage {
  background-image: url('computerBackground.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.webTitles {
  color: rgb(255,255,255);
  font-size: 6vw;
  padding: 20px 20px;
}



.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.biggerFont {
  font-size: 10vw;
}



/* NAVBAR PUREBAS */

.containerNav {
  position: fixed;
  width: 100%;
  z-index: 5;
}

#navbarList {
  margin: 10px auto 0 auto;
  width: 100vw;
}

#navbarList li {
  float: right; 
  list-style: none;
  margin: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
}

#navbarList a {
  text-decoration: none;
  color: rgb(255,255,255);
}

/* NAVBAR TERMINA */

#aboutMeDetails {
  text-align: initial;
  /* width: 50vw; */
}

#aboutMeDetails h2{
  text-decoration: underline;
}

#aboutMeDetails p{
  font-size: 20px;
  text-align: initial;
}

#aboutMeImage {
  height: 10vw;
  width: 85vw;
  background-image: url('computerImage2.jpg');
  background-size: 85vw;
  background-repeat: no-repeat;
  margin: auto;
  background-position-y: -40px;
}

#containerOfAboutMe {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 30px;
}

.flexWrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

#projectPictures img {
  width: 450px;
  margin: 10px;
  border-radius: 5px;
  border: 0px white solid;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#projectPictures img:hover {
  transform: scale(1.02);
}

.flexCenteredColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  align-items: center;
}

.projectsInfo {
  width: 450px;
}

#technologiesImages img{
  width: 150px;
  height: 130px;
  margin: 10px;
  margin-top: 50px;
}

.blackFont{
  color: black;
}

.whiteFont{
  color: white;
}

#technologiesText {
  margin-left: 500px;
  text-decoration: underline;
}

.smallFont {
  font-size: 14px;
  font-style: italic;
}

.noCursor {
  cursor: pointer;
}

#myImageDiv img {
  width: 500px;
  border-radius: 5px;
}

.mediaImages {
  width: 100px;
  margin: 20px;
}

.flexSpaceEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.height70 {
  height: 70vh;
}

#myMediaDiv p {
  margin: 0;
  font-size: 18px;
}

.flexMedia {
  display: flex;
  align-items: center;
}

#myImageDiv p {
  margin: 10px 0;
}

#myMediaDiv img {
  transition: all .2s ease-in-out;
}

#myMediaDiv img:hover {
  transform: scale(1.1);
}

@media (min-width: 1500px){
  div.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  };
}