


@font-face { font-family: Bavro; src: url('fonts/Bavro-Regular.ttf'); }
@font-face { font-family: Kungfont; src: url('fonts/Kungfont-Regular.otf'); }
@font-face { font-family: Brux; src: url('fonts/BRUX-Regular.otf'); } 
@font-face { font-family: Fox and Cat; src: url('fonts/Fox & Cat.otf'); } 


body {
  font-family: 'Karla', sans-serif;
  margin: 0px;
  background-color: #000;
  color: white;
}

h1 {
  margin: 0;
}

.youtubeChannelsDiv{
  display: flex;
}

.youtubeChannelsContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.youtubeChannelsContent img{
  width: 7em;
  border-radius: 58px;
  margin-bottom: 13px;
}

.hide{
  display: none;
}

.firstScreenContent {
  background-color: rgb(0,0,0);
  width: 100vw;
  height: 100vh;
}

#color-computer{
  height: 15em;
  background-image: url('color-computer.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.restOfTheScreensContent{
  background-color: rgb(0,0,0);
  width: 100vw;
}

#aboutMeInformationAndPictureDiv{
  display: flex;
  justify-content: space-evenly;
  line-height: 1.8em;
}

#aboutMeInformation div{
  margin-bottom: 4em;
}

#aboutMePicture {
  background-image: url('color-computer.jpg');
  width: 14em;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
}

.mainPageBackgroundImage {
  background-image: url('computerBackground-definition.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.webTitles {
  color: rgb(255,255,255);
  margin-bottom: 0.5em;
  font-size: 6vw;
  padding: 20px 20px;
  text-decoration: underline;
}

.mainTitle {
  color: rgb(255,255,255);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 6vw;
  padding: 20px 20px;
}




.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCenteredColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.biggerFont {
  font-size: 10vw;
}

#titleDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#titleDiv .wrap{
  font-size: 30px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}




/* NAVBAR PUREBAS */

.containerNav {
  position: fixed;
  width: 100%;
  z-index: 5;
}

#navbarList {
  margin: 0;
  width: 100vw;
}

#navbarList li {
  float: right; 
  list-style: none;
  margin: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
}

#navbarList a {
  text-decoration: none;
  color: rgb(255,255,255);
}

/* NAVBAR TERMINA */

#aboutMeDetails {
  text-align: initial;
  /* width: 50vw; */
}

#aboutMeDetails h2{
  text-decoration: underline;
}

#aboutMeDetails p{
  font-size: 20px;
  text-align: initial;
}

#aboutMeImage {
  height: 10vw;
  width: 85vw;
  background-image: url('computerImage2.jpg');
  background-size: 85vw;
  background-repeat: no-repeat;
  margin: auto;
  background-position-y: -40px;
}

#containerOfAboutMe {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 30px;
}

.flexWrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

#projectPictures img {
  width: 450px;
  margin: 10px;
  border-radius: 5px;
  border: 0px white solid;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#projectPictures img:hover {
  transform: scale(1.02);
}

.flexCenteredColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectsInfo {
  width: 450px;
}

#technologiesImages img{
  width: 150px;
  height: 130px;
  margin: 50px 50px 20px 50px;
}

.blackFont{
  color: black;
}

.whiteFont{
  color: white;
}

#technologiesText {
  margin-left: 500px;
  text-decoration: underline;
}

.smallFont {
  font-size: 14px;
  font-style: italic;
}

.noCursor {
  cursor: pointer;
}

#myImageDiv img {
  width: 500px;
  border-radius: 5px;
}

.mediaImages {
  width: 100px;
  margin: 20px;
}

.flexSpaceEvenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap;
}

.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.height70 {
  height: 70vh;
}

#myMediaDiv p {
  margin: 0;
  font-size: 18px;
}

.flexMedia {
  display: flex;
  align-items: center;
}

#myImageDiv p {
  margin: 10px 0;
}

#myMediaDiv img {
  transition: all .2s ease-in-out;
}

#myMediaDiv img:hover {
  transform: scale(1.1);
}

.introductionText {
  text-align: center;
}

#top {
  background-color: rgba(0, 0, 0, 0.7);
}

#top li {
  transition: all .2s ease-in-out; 
}

#top li:hover {
  transform: scale(1.3);
}

#languagePickerList__english li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#languagePickerList__spanish li:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.marginLeft {
  margin: 0 2em;
}

#technicalSkills h2 {
  text-align: center;
}


/* LANGUAGE SELECTOR */


.languagePicker {
  display: inline-block;
  position: absolute;
	padding: 0;
	height: 40px;
	overflow: hidden;
	transition: all .3s ease;
	margin: 0 50px 10px 0;
	vertical-align: top;
}

.languagePicker:hover {
	/* don't forget the 1px border */
	height: 81px;
}

.languagePicker a{
	color: white;
	text-decoration: none;
}

.languagePicker li {
	display: block;
	padding: 0px 20px;
	line-height: 35px;
}

.languagePicker a:first-child li {
	border: none;
}

.languagePicker li img {
  width: 1em;
  margin-right: 5px;
  padding-bottom: 1px;
}
/* END LANGUAGE SELECTOR */


@media screen and (min-width: 1700px){
  #contentOfWhoAmI {
    margin: 0 600px;
  }

  contentOfWhatDoILikeToDo {
    margin: 0 600px;
  }

  #contentWhereDoILearnFrom {
    margin: 0 600px;
  }
}

@media screen and (max-width: 1024px){
  #aboutMePicture {
    display: none;
  }
}

@media screen and (max-width: 850px){
  .webTitles {
    font-size: 10vw;
  }

  .minTitle {
    font-size: 10vw;
  }

  
  .introductionText {
    font-size: 15vw;
  }
  
  .biggerFont {
    font-size: 20vw;
  }

  #technologiesImages img{
    margin: 50px 30px 20px 30px;
  }

  #technologiesImages h4 {
    color: white;
  }

  #otherSkillsTitle {
    margin-top: 50px;
  }

  #titleDiv h2 {
    display: none;
  }

}

@media screen and (min-width: 750px){
  #aboutMeInformation p{
    font-size: 20px;
  }

  #aboutMeInformation div{
    max-width: 44em;
    margin: 0 auto;
    margin-bottom: 4em;
  }

  #contentOfWhoAmI {
    margin: 0 300px;
  }

  contentOfWhatDoILikeToDo {
    margin: 0 300px;
  }

  #contentWhereDoILearnFrom {
    margin: 0 300px;
  }
}

@media screen and (max-width: 660px){
  #projectPictures img {
    width: 300px;
  }

  .projectInfoParagraphs{
    width: 300px;
  }

  #technologiesImages img{
    width: 110px;
    height: 90px;
    /* margin: 10px;
    margin-top: 50px; */
  }

  .mediaImages {
    width: 70px;
  }

  #myImageDiv img {
    width: 300px;
  }

  #myImageDiv p {
    font-size: 14px;
  }

  #top li:hover {
    transform: scale(1);
  }
}





